<!DOCTYPE html>
<html>
    
    <head>
        <title>Home</title>
        
                
        <!-- this ensures mobile phones don't display desktop versions -->
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">

    </head>

    <body>

        <div class="wide"></div>
        
        <div class="wrapper">
        <div class="navbar navbar-inverse">
            
            <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#">Greening Space</a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a>
                </li>
                <li><a href="bio.html">Biodiversity</a>
                </li>
                <li><a href="map.html">Community Gardens</a>
                </li>
                <li><a href="water.html">Melbourne Water</a>
                </li>
                <li><a href="about.html">About</a>
                </li>
            </ul>
          </div>
        <!--/.nav-collapse -->
        </div>
      </div>
    </div>

        

        
    <div class="container">
      <div class="row">
          <div class="col-md-12 jumbotron">

              <div class="text-center">
                <h1>Making public spaces that are greener and cleaner. </h1>
                <br/>
                <p>Greening space is about activating unloved spaces by opening access to prospective community gardens. We locate potential area for new pop up gardens, to beautify the area, to provide food locally and to create community around cultivating produce. We connect with schools, social enterprise and community organisations to maintain or upkeep the gardens for public use.</p>

              </div>
          </div>
     </div>
    </div>

    <div class="container">
    
    <div class="row">

        <div class="col-md-4">
            <h2>Biodiversity</h2>
            <h3>Melbourne</h3>
            <p style="text-muted">Melbourne Water Frog Census, Urban Forest and BioBlitz (documentation of the species that call our city home)</p>
            <p><a class="btn btn-primary" href="bio.html" role="button">View&raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Community Gardens</h2>
            <h3>Melbourne</h3>
            <p style="text-muted">Local Schools, Community Gardens, Environmental Asset Data (Parks and Reserves), BioBlitz</p>
            <p><a class="btn btn-primary" href="map.html" role="button">View&raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Melbourne Water</h2>
            <h3>Victoria</h3>
            <p style="text-muted">Walking Data, Melbourne Water Land data </p>
            <br/><br/>
            <p><a class="btn btn-primary" href="water.html" role="button">View&raquo;</a></p>
        </div>

    </div>

    </div>


        
                <!-- import jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="static/js/bootstrap.js"></script>
        
        
    </body>
    
</html>
